---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
<!--
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEW</span
  >
  <a href="https://astro.build/blog/astro-4150/" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Astro 4.15 is now available! »</a
> -->
<a
  target="_blank"
  rel="noopener"
  href="https://github.com/pixlie/PixlieAI"
  title="If you like PixlieAI, give us a star."
  class="ltr:ml-auto rtl:mr-auto inline-block"
>
  <img 
    src="https://img.shields.io/github/stars/pixlie/PixlieAI.svg?style=social&label=Stars&maxAge=86400" 
    alt="GitHub stars"
    class="h-[1.25rem]"
  />
</a>
</div>
