---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import InsightsResults from '~/solidComponents/insights/InsightsResults';
import Button from '~/components/ui/Button.astro';
import TextCycle from '~/solidComponents/ui/TextCycle';
import Subscribe from '~/solidComponents/widgets/Subscribe';

const metadata = {
  title: 'Subscribe to our newsletter',
  description: 'Explore Startup Insights Powered by Pixlie AI.',
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Subscribe',
        href: '#subscribe',
      },
      { text: 'Learn More', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Insights on startups and funding coming soon!</span>
    </Fragment>

    <Fragment slot="subtitle">
      We are launching "Insights with Pixlie AI", starting with startups and funding data. You can browse these on our
      platform or self-host for deeper research.
    </Fragment>
  </Hero>

  <Features
    id="features"
    title="What is Insights with Pixlie AI?"
    subtitle="Research on the web is a daily need for many, yet extracting semantically correct insights is a hard task. We want to make it easy with Insights."
    items={[
      {
        title: 'Real world semantics',
        description:
          'Each Insights in anchored in real world semantic information, like founders, funding, valution, investors, etc.',
        icon: 'tabler:world',
      },
      {
        title: 'Web crawl, entity extraction',
        description:
          'For Insights, we crawl the web for news, blogs, articles, product and profile pages and extract entities that are relevant.',
        icon: 'tabler:database',
      },
      {
        title: 'Data visualization',
        description:
          'We are creating UI to visualize questions like "Startups in our domain that had seed funding this year".',
        icon: 'tabler:world',
      },
      {
        title: 'Add private data',
        description:
          'You can share your private data if you self-host Insights with Pixlie AI, enabling better context.',
        icon: 'tabler:file',
      },
    ]}
  />

  <WidgetWrapper containerClass="max-w-7xl mx-auto" id="subscribe">
    <Headline title="Want to know when we launch?" subtitle="Subscribe to get updates on our latest releases." />
    <Subscribe client:idle />
  </WidgetWrapper>
</Layout>
