---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pixlie: Semantic Search That Truly Understands Your Data',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://github.com/pixlie/PixlieAI',
        target: '_blank',
        icon: 'tabler:brand-github',
      },
      { text: 'Learn More', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Semantic Search</span> That Truly Understands Data
    </Fragment>

    <Fragment slot="subtitle">
      Our open-source technology transforms data into knowledge graphs for superior search accuracy at lower costs. Maintain complete privacy while extracting valuable entities and relationships. Try it now with our no code web crawler.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="How Pixlie Works for You"
    subtitle="Turn any website into structured, actionable intelligence - Pixlie creates detailed knowledge graphs from data for more accurate insights."
    items={[
      {
        title: 'Self-hosted and private',
        description: 'Pixlie is open source and you can self-host it on your computer or cloud instance.',
        icon: 'tabler:shield',
      },
      {
        title: 'Add your data',
        description: 'Multiple file formats are supported to ingest your data, including CSV, JSON, and Markdown.',
        icon: 'tabler:database',
      },
      {
        title: 'Integrated web crawler',
        description: 'Pixlie can crawl the web in order to enhance your data with public knowledge.',
        icon: 'tabler:spider',
      },
      {
        title: 'Share with your team',
        description: 'Share your results with your team, wherever they are in the world, either on a private server or with cloud.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Semantics management',
        description: 'Manage real-world semantics that are extracted from your data using the built-in admin UI.',
        icon: 'tabler:world',
      },
      {
        title: 'Hosted and local AI models',
        description: "Integrate Anthropic's Claude using your API keys and local AI models (your computer or cloud).",
        icon: 'tabler:robot',
      },
      {
        title: 'Entity and relationship extraction',
        description:
          "Use Anthropic's Claude and GLiNER to classify text and extract entities in a cost-effective manner.",
        icon: 'tabler:zoom-scan',
      },
      {
        title: 'Knowledge graph enrichment',
        description: 'As entities and relationships are extracted, your data is enriched by these new connections.',
        icon: 'tabler:zoom-in-area',
      },
      {
        title: 'No code graph queries',
        description:
          'Use the built-in admin UI to browse your entire knowledge graph. Make semantic queries without code.',
        icon: 'tabler:chart-dots',
      },
      {
        title: 'API access for your apps',
        description:
          'You can integrate with Pixlie using our upcoming API to power your apps and make semantic queries on your data.',
        icon: 'tabler:api',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Pixlie',
        href: 'https://github.com/pixlie/PixlieAI',
        target: '_blank',
        icon: 'tabler:brand-github',
      },
    ]}
  >
    <Fragment slot="title"> Experience Pixlie in Action </Fragment>

    <Fragment slot="subtitle">
      Pixlie is open source and is under active development. Our work is done in public, please check our GitHub
      repository.
    </Fragment>
  </CallToAction>
</Layout>
