---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img
    src="/images/logo.png"
    alt="Pixlie Logo"
    width="40"
    height="40"
    class="light-logo inline-block dark:hidden"
  />
  <img
    src="/images/logo-dark.png"
    alt="Pixlie Logo Dark"
    width="40"
    height="40"
    class="dark-logo hidden dark:inline-block"
  />
  {SITE?.name}
</span>
