---
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import InsightsForm from '~/solidComponents/insights/InsightsForm';

const metadata = {
  title: 'Custom Startup Insights',
};
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-4 sm:mx-auto">
    <Headline
      title="Tell us about your startup"
      subtitle="This information helps us provide custom startup insights <span class='text-white'>✨</span>"
    />
    <InsightsForm client:idle />
  </WidgetWrapper>
</Layout>
