---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero4 from '~/components/widgets/Hero4.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import PasswordProtected from '~/components/ui/PasswordProtected.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Insights from '~/solidComponents/widgets/Insights';
import PercentageCircles from '~/solidComponents/data/PercentageCircles';
import PercentageWords from '~/solidComponents/data/PercentageWords';
import InsightsResults from '~/solidComponents/insights/InsightsResults';
import ContactList from '~/solidComponents/data/ContactList';
import Button from '~/components/ui/Button.astro';
import Stats from '~/components/widgets/Stats.astro';
import TextCycle from '~/solidComponents/ui/TextCycle';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Card from '~/solidComponents/ui/Card';

const metadata = {
  title: 'Startup Insights',
  description: 'Explore Startup Insights Powered by Pixlie AI.',
};
---

<Layout metadata={metadata}>
  <Hero4
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/insights/startups/custom',
      },
    ]}
  >
    <Fragment slot="title">Startup Insights</Fragment>
    <Fragment slot="subtitle"
      >Powered by <a href="/ai" class="font-bold text-primary dark:text-white hover:text-secondary">Pixlie AI</a
      ></Fragment
    >
    <Fragment slot="animation"><TextCycle client:load /></Fragment>
  </Hero4>

  <!-- <WidgetWrapper containerClass="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-8 sm:px-0">
      <Card emoji="ðŸ†" text="Your startup has more female founders than other AI startups" />
      <Card emoji="ðŸ’°" text="X% of startups received funding this year" />
      <Card emoji="ðŸš¨" text="__________________ __________________" />
      <Card emoji="ðŸ“ˆ" text="__________________ __________________" />
      <Card emoji="ðŸŒŽ" text="__________________ __________________" />
      <Card emoji="âœ¨" text="__________________ __________________" />
      <Card emoji="ðŸ–¥ï¸" text="__________________ __________________" />
      <Card emoji="ðŸ’ª" text="__________________ __________________" />
      <Card emoji="ðŸ“" text="__________________ __________________" />
    </div>
  </WidgetWrapper> -->

  <!-- <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <div class="flex flex-col justify-center items-center gap-12">
      <Headline title="ðŸ’ª X% of startups with repeat founders" />
      <PercentageCircles
        data={[
          { label: 'Stage', value: 10 },
          { label: 'Stage', value: 18 },
          { label: 'Stage', value: 15 },
          { label: 'Stage', value: 22 },
          { label: 'Stage', value: 5 },
          { label: 'Stage', value: 13 },
        ]}
      />
    </div>
  </WidgetWrapper>

  <WidgetWrapper containerClass="max-w-4xl mx-auto">
    <div class="flex flex-col justify-center items-center gap-12">
      <Headline title="ðŸ“ˆ Trending startups this week" />
      <PercentageWords
        data={[
          { label: 'CompanyName', value: 5 },
          { label: 'CompanyName', value: 40 },
          { label: 'CompanyName', value: 60 },
          { label: 'CompanyName', value: 3 },
          { label: 'CompanyName', value: 65 },
          { label: 'CompanyName', value: 50 },
          { label: 'CompanyName', value: 7 },
          { label: 'CompanyName', value: 25 },
          { label: 'CompanyName', value: 18 },
          { label: 'CompanyName', value: 40 },
          { label: 'CompanyName', value: 2 },
          { label: 'CompanyName', value: 10 },
          { label: 'CompanyName', value: 43 },
          { label: 'CompanyName', value: 61 },
        ]}
      />
    </div>
  </WidgetWrapper>

  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <div class="flex flex-col justify-center items-center gap-12">
      <Headline title="ðŸ† Top 10 early-stage startup investors of 2024" />
      <ContactList
        data={[
          { name: '[InvestorName]', email: '[Email]' },
          { name: '[InvestorName]', email: '[Email]', phone: '[Phone]' },
          { name: '[InvestorName]', phone: '[Phone]', url: '[URL]' },
          { name: '[InvestorName]', url: '[URL]' },
          {
            name: '[InvestorName]',
            email: '[Email]',
            phone: '[Phone]',
            url: '[URL]',
          },
          { name: '[InvestorName]', phone: '[Phone]' },
          { name: '[InvestorName]', email: '[Email]', url: '[URL]' },
          { name: '[InvestorName]', email: '[Email]' },
          { name: '[InvestorName]', email: '[Email]', phone: '[Phone]' },
          { name: '[InvestorName]', url: '[URL]' },
        ]}
      />
    </div>
  </WidgetWrapper> -->

  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <InsightsResults
      client:idle
      results={[
        {
          type: 'percentage',
          insight: 'âœ¨ [blank]% of startups have [blank].',
          data: [
            { name: 'X', value: 75 },
            { name: 'Y', value: 50 },
            { name: 'Z', value: 25 },
          ],
        },
        {
          type: 'ratio',
          insight: 'ðŸ’ª [blank] startups have twice as many [A] compared to [B].',
          data: [
            { name: 'A', value: 50 },
            { name: 'B', value: 25 },
          ],
        },
        {
          type: 'list',
          insight: 'ðŸ† Top 10 [blank] this week:',
          data: [
            { name: 'Name' },
            { name: 'Name' },
            { name: 'Name', url: '[URL]' },
            { name: 'Name', url: '[URL]' },
            { name: 'Name', url: '[URL]' },
            { name: 'Name' },
            { name: 'Name', url: '[URL]' },
            { name: 'Name' },
            { name: 'Name' },
            { name: 'Name', url: '[URL]' },
          ],
        },
      ]}
    />
  </WidgetWrapper>

  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <Headline title="Custom Startup Insights" subtitle="Explore insights for your startup" />
    <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center">
      <a href="/insights/startups/custom" class="btn btn-primary"> Get Started </a>
    </div>
  </WidgetWrapper>
</Layout>
