---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero4 from '~/components/widgets/Hero4.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import PasswordProtected from '~/components/ui/PasswordProtected.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Insights from '~/solidComponents/widgets/Insights';
import PercentageCircles from '~/solidComponents/data/PercentageCircles';
import Button from '~/components/ui/Button.astro';
import Stats from '~/components/widgets/Stats.astro';
import TextCycle from '~/solidComponents/ui/TextCycle';

const metadata = {
  title: 'Startup Insights',
};
---

<Layout metadata={metadata}>
  <Hero4
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: '/insights/startups/form',
      },
    ]}
  >
    <Fragment slot="title">Startup Insights</Fragment>
    <Fragment slot="subtitle"
      >Powered by <a href="/ai" class="font-bold text-primary dark:text-white hover:text-secondary">Pixlie AI</a
      ></Fragment
    >
    <Fragment slot="animation"><TextCycle client:load /></Fragment>
  </Hero4>

  <div style={{ height: '90dvh' }} class="flex flex-col justify-center items-center gap-12 pb-8">
    <Headline title="Startups with Female Founders" subtitle="Startups with Female Founders are 100% better!" />
    <PercentageCircles
      data={[
        { label: 'Pre-Seed', value: 50 },
        { label: 'Seed', value: 40 },
        { label: 'Series A', value: 20 },
        { label: 'Series B', value: 15 },
        { label: 'Series C', value: 8 },
      ]}
    />
  </div>

  <div style={{ height: '90dvh' }} class="flex flex-col justify-center items-center gap-12 pb-20">
    <Headline title="Team Size" subtitle="The average team size is 50 people at Series A." />
    <PercentageCircles
      data={[
        { label: 'Pre-Seed', value: 3 },
        { label: 'Seed', value: 20 },
        { label: 'Series A', value: 50 },
        { label: 'Series B', value: 100 },
        { label: 'Series C', value: 200 },
      ]}
    />
  </div>

  <div style={{ height: '90dvh' }} class="flex flex-col justify-center items-center gap-12">
    <Headline title="Number of Founders" subtitle="The optimal number of founders is 4, but most startups have 2." />
    <PercentageCircles
      data={[
        { label: '1', value: 15 },
        { label: '2', value: 30 },
        { label: '3', value: 35 },
        { label: '4', value: 15 },
        { label: '5', value: 5 },
      ]}
    />
  </div>
</Layout>
