---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero4 from '~/components/widgets/Hero4.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import PasswordProtected from '~/components/ui/PasswordProtected.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Insights from '~/solidComponents/widgets/Insights';
import PercentageCircles from '~/solidComponents/data/PercentageCircles';
import PercentageWords from '~/solidComponents/data/PercentageWords';
import List from '~/solidComponents/data/List';
import Card from '~/solidComponents/ui/Card';
import Button from '~/components/ui/Button.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Custom Startup Insights',
};
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <Headline title="Custom Startup Insights" subtitle="Save or share a copy of these insights" />
    <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 sm:gap-2">
      <input
        placeholder="Email"
        class="py-3 px-4 outline-none block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
      />
      <Button variant="primary">Send</Button>
    </div>
  </WidgetWrapper>

  <!-- <WidgetWrapper containerClass="max-w-7xl mx-auto">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 px-8 sm:px-0">
    <Card emoji="ðŸ†" text="Your startup has more female founders than other AI startups" />
    <Card emoji="ðŸ’°" text="There are 7 investors interested in your startup" />
    <Card emoji="ðŸš¨" text="__________________ __________________" />
    <Card emoji="ðŸ“ˆ" text="__________________ __________________" />
    <Card emoji="ðŸŒŽ" text="__________________ __________________" />
    <Card emoji="âœ¨" text="__________________ __________________" />
    <Card emoji="ðŸ–¥ï¸" text="__________________ __________________" />
    <Card emoji="ðŸ’ª" text="__________________ __________________" />
    <Card emoji="ðŸ“" text="__________________ __________________" />
  </div>
  </WidgetWrapper> -->

  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <div class="flex flex-col justify-center items-center gap-12">
      <Headline title="X% of [Industry] startups received funding this [TimeFrame]" />
      <PercentageCircles
        data={[
          { label: 'Stage', value: 10 },
          { label: 'Stage', value: 18 },
          { label: 'Stage', value: 15 },
          { label: 'Stage', value: 22 },
          { label: 'Stage', value: 5 },
          { label: 'Stage', value: 13 },
        ]}
      />
    </div>
  </WidgetWrapper>

  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <div class="flex flex-col justify-center items-center gap-12">
      <Headline title="X investors recently funded [Stage] startups" />
      <List
        data={[
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
          { label: 'InvestorName', value: 1 },
        ]}
      />
    </div>
  </WidgetWrapper>

  <WidgetWrapper containerClass="max-w-4xl mx-auto">
    <div class="flex flex-col justify-center items-center gap-12">
      <Headline title="[CompanyName] has X new competitors" />
      <PercentageWords
        data={[
          { label: 'CompetitorName', value: 5 },
          { label: 'CompetitorName', value: 40 },
          { label: 'CompetitorName', value: 60 },
          { label: 'CompetitorName', value: 3 },
          { label: 'CompetitorName', value: 65 },
          { label: 'CompetitorName', value: 50 },
          { label: 'CompetitorName', value: 7 },
          { label: 'CompetitorName', value: 25 },
          { label: 'CompetitorName', value: 18 },
          { label: 'CompetitorName', value: 40 },
          { label: 'CompetitorName', value: 2 },
          { label: 'CompetitorName', value: 10 },
          { label: 'CompetitorName', value: 43 },
          { label: 'CompetitorName', value: 61 },
        ]}
      />
    </div>
  </WidgetWrapper>

  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center">
      <a href="/insights/startups/custom" class="btn btn-primary"> Try Again </a>
    </div>
  </WidgetWrapper>
</Layout>
