---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  actions = await Astro.slots.render('actions'),

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const correctPassword = 'I am a cofounder.'; // Set your desired password here
---

<style>
  #password-form {
    max-width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #public-content {
    display: block;
  }

  #coming-soon {
    margin-bottom: 20px;
    transition: color 0.3s ease;
  }

  /* Password input style */
  #password-input {
    outline: none;
    flex: 1;
    margin-left: 30px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }

  #password-input.invalid {
    border-color: red;
  }

  #coming-soon.invalid {
    color: red;
  }

  /* Show/Hide button style */
  #show-hide-button {
    width: 20px;
    font-size: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Protected content style */
  #protected-content {
  }
</style>

<script client:load>
  document.addEventListener('DOMContentLoaded', () => {
    const passwordInput = document.getElementById('password-input');
    const showHideButton = document.getElementById('show-hide-button');
    const protectedContent = document.getElementById('protected-content');
    const publicContent = document.getElementById('public-content');
    const comingSoon = document.getElementById('coming-soon');

    const correctPassword = 'I am a cofounder.'; // Duplicate here to ensure access in JavaScript

    // Toggle Show/Hide Password
    showHideButton.addEventListener('click', () => {
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        showHideButton.innerText = '🙈';
      } else {
        passwordInput.type = 'password';
        showHideButton.innerText = '🙉';
      }
    });

    // Detect Enter key press
    passwordInput.addEventListener('keypress', (event) => {
      if (event.key === 'Enter') {
        if (passwordInput.value === correctPassword) {
          publicContent.style.display = 'none'; // Hide password form
          protectedContent.style.display = 'block'; // Show protected content
          passwordInput.classList.remove('invalid');
          comingSoon.classList.remove('invalid');
          comingSoon.innerText = 'Coming Soon';
        } else {
          passwordInput.classList.add('invalid'); // Indicate incorrect password
          comingSoon.classList.add('invalid');
          comingSoon.innerText = 'Access Denied';
        }
      } else {
        passwordInput.classList.remove('invalid');
        comingSoon.classList.remove('invalid');
        comingSoon.innerText = 'Coming Soon';
      }
    });
  });
</script>

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div id="public-content" class="max-w-3xl mx-auto text-center">
    <div id="coming-soon" class="text-4xl md:text-4xl font-bold tracking-tighter mb-4 font-heading">
      <Headline
        title="Coming Soon"
        classes={{
          container: 'mb-0 md:mb-0',
          title: 'text-4xl md:text-4xl font-bold tracking-tighter mb-4 font-heading',
          subtitle: 'text-xl text-muted dark:text-slate-400',
        }}
      />
    </div>

    <!-- Password Form -->
    <div id="password-form">
      <input id="password-input" type="password" placeholder="Enter password" class="dark:text-black" />
      <button id="show-hide-button" type="button">🙉</button>
    </div>
  </div>

  <!-- Protected Content -->
  <div id="protected-content" style="display: none;">
    <slot />
    <!-- Protected content rendered here upon correct password -->
  </div>
</WidgetWrapper>
